body {
  background-color: #20222f;
  font-family: "Inter", sans-serif;
  margin: 150px;
}

.dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 60px;
  align-items: center;
}

h1 {
  color: white;
}

h2 {
  color: hsla(0, 0%, 100%, 0.5);
}

.toggle {
  min-height: 60px;
  justify-content: center;
}

.top-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1;
  justify-content: space-around;
  gap: 30px;
}

.top-row > div {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  background-color: #252b42;
  border-radius: 8px;
  align-items: center;
  padding: 32px;
}

.handle {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: hsla(0, 0%, 100%, 0.5);
  padding: 10px;
}

.count {
  color: white;
  font-size: 50px;
  padding: 8px;
}

.green {
  color: hsl(163, 72%, 41%);
}

.red {
  color: hsl(356, 69%, 56%);
}

.facebook {
  border-top: 5px solid #178ff5;
}

.twitter {
  border-top: 5px solid #1da1f2;
}

.insta {
  border-top: 5px solid #df4896;
}

.youtube {
  border-top: 5px solid #c4032b;
}

.today {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2;
  gap: 30px;
}

.today-stats {
  background-color: #252b42;
  border-radius: 8px;
  padding: 32px;
}

.views-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: hsla(0, 0%, 100%, 0.5);
}

.count-2 {
  color: white;
  font-size: 30px;
}

.numbers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

@media (max-width: 700px) {
  .today {
    display: grid;
    grid-template-columns: span 4;
    min-height: auto;
    margin: 25px;
  }
  .top-row {
    display: grid;
    grid-template-columns: span 4;
    min-height: auto;
    margin: 25px;
  }
}
